<div class="background pb-5">
    <div class="container">
        <div class="pt-5">
            <div class="row">
                <!--left div-->
                <div class="col-md-5">
                    <div class="bg-white shadow   px-3 py-5 mt-5" style="border-radius: 1.5rem;">
                      <p class="text-center">Start a quiz with <strong>Goal-cator</strong> questions to see if you know these principles. Questions are extracted from the NUST Strategic Plan 4. At the end you will be given a score which if you want you can compare with other people and proceed to the next level.</p>

                        <div class="form-group ">
                            <button  class="btn btn-block bg-warning mt-3" routerLink='/quiz-level1' >Start Quiz!</button>
                        </div>

                    </div>
                    <div class="bg-white shadow   px-3 py-5 mt-5" style="border-radius: 1.5rem;">
                        <p class="text-center"><strong>Goal-cator</strong> is a fully customized game to promote awareness about the strategic direction of the Namibia University of Science and Technology.</p>

                        <div class="form-group ">
                            <button target="_blank" (click)="'https://www.nust.na/sites/default/files/documents/NUST%20Strategic%20Plan%204.pdf'" class="btn btn-block bg-warning mt-3" >Read the Strategic Plan</button>
                        </div>


                    </div>

                </div>
                <!--right div-->
                <div class="col-md-6  bg-img ml-5 mt-5 d-none d-sm-block d-md-bock" >

                </div>

            </div>
        </div>
    </div>

</div>
<footer class="footer">
        <div class="container text-center"><span class="text-muted"><b> All Rights Reserved | Copyright&copy; Goal-cator | Contact Us: +264814390765</b></span></div>
</footer>
